#top_line {
  width: 710px;
  height: 20px;
  background-color: antiquewhite;
}

.parent_schedule_section{
  padding-bottom: 3px;
  background-color: rgb(213, 228, 228);
}

.name_day_of_week {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgb(176, 211, 211);
  height: 23px;
}

.schedule_section {
  height: 110px;
  width: 350px;
  overflow: scroll;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: rgb(213, 228, 228);
}

ul {
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

